extends base.pug

block style 
    style 
        include ../static/style.css
        
block content
    section#introsection 
        div#big
            | Welcome to Am2Pm Gym Academy 
        div#small
            | Eat Sleep Gym Repeat 

    section#missionsection
        h3 Our mission 
        div.arrangemission
            div.mission#mission1
                h4  Eat big. Lift big. Get big.
                div.card-box
                    div.card-logo
                        img(src="/static/photo1.jpg", alt="photo1")
                    div.card-content 
                        p Follow us for big results     
            div.mission#mission2
                h4  Believe in yourself
                div.card-box
                    div.card-logo
                        img(src="/static/photo2.jpg", alt="photo2")
                    div.card-content 
                        p Best gym equipments
            div.mission#mission3
                h4  Every step is progess
                div.card-box
                    div.card-logo
                        img(src="/static/photo3.jpg", alt="photo3")
                    div.card-content 
                        p Eat healthy stay fit 


    section#sponsorsection
        h3 Our Sponsors
        div.setsponsor 
            div.sponsor
                img(src="/static/sponsor1.jpg", alt="Sponsor1 logo")
            div.sponsor
                img(src="/static/sponsor2.png", alt="Sponsor2 logo" )
            div.sponsor
                img(src="/static/sponsor3.jpg", alt="Sponsor3 logo")
            div.sponsor
                img(src="/static/sponsor4.jpg", alt="Sponsor4 logo")
            div.sponsor
                img(src="/static/sponsor5.png", alt="Sponsor5 logo")
